<div class="container">
    <p class="lead"><italic><h2>Students</h2></italic></p>
    <br>
  <table class="table table-striped">
    <thead>
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th>Edit</th>
    <th>Delete</th>
  </tr>
      </thead>
      <tbody>
<%= @posts.each do |post| %>
          <tr>
          
<td><%= link_to post.name,post %></td>
<td><%= post.section %></td>
<td><%= link_to 'Edit', edit_post_path(post), {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#myModel2'} %></td>
<td><%= link_to 'Delete', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
              
          </tr>
<% end %>
      </tbody>
    </table>
<br>
    <div class="pager2">
    <%= will_paginate @posts, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>
 </div>
<button type="submit" id="registerbutton" data-toggle="modal" data-target="#myModal4" class="btn btn-primary btn-sm side1" >Register</button><br>
       
    <%= link_to 'Back', categories_path %>
</div>


<div class="modal fade" id="myModal4" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%= form_for Post.new do |f| %>
<p class="form-group">
<%= f.label :name %><br>
    <%= f.text_field :name, :class => 'form-control' ,:required => true %><br>
    

</p>
<p class="form-group">
<%= f.label :email %><br>
    <%= f.text_field :section, :class => 'form-control',:required => true %><br>
    


</p>
<p class="form-group">
    <%= f.label :Class %><br>
<%= f.select :category_id, Category.all.collect { |x| [x.name, x.id]},{:include_blank => "select One"},:class => 'form-control',:required => true %> <br>


</p>
<p class="form-group">
<%= f.submit "Add Student",:class => 'form-control btn btn-primary btn-sm' %>
</p>
          <% end %>
      </div>
     
    </div>
  </div>
</div>






<div id="myModel2" class="modal fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content"></div>
  </div>
</div>

