<!DOCTYPE html>
<html>
<head>
  <title>Student</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
    <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.6/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>
    <style>
        #new_class{
            margin-left:580px;
        }
        #registerbutton{
            margin-left:250px;
        }
        .container{
            width:600px;
        }
        .pager{
            margin-left:550px;
        }
        .pager2{
            margin-left:200px;
        }
    </style>
</head>
<body>
<% flash.each do |key,value| %>
    <p><%= value %></p>
    <% end %>
<%= yield %>

</body>
</html>
